.Topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  display: -webkit-flex;
  background-color: #282f35;
  color: #ffffff;
  z-index: 1;
  justify-content: space-between;
}

.Topbar_title {
  text-align: center;
  margin: auto 0;
}
.Topbar_previous {
  width: 100px;
  text-align: center;
  margin: auto 0;
  cursor: pointer;
}

.Topbar_next {
  width: 100px;
  text-align: center;
  margin: auto 0;
  cursor: pointer;
}
